#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  width: 376px;
  height: 666px;
  z-index: 100;

  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
}

#app .container-view {
  padding: 20px;
  overflow: auto;
  max-height: 70%;
}

#app .archive-button-div {
  display: flex;
  flex-direction : row;
  border-style: groove;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  padding: 15px 15px 15px 15px;
  height: 30px;
}

#app .archive-image {
  margin-top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#app .archive-button {
  display: flex;
  flex-direction : row;
  border: none;
  cursor: pointer;
  padding: 15px;
  font: size 1em;
  font-weight: bold;
  background: none;
}

#app .activity-list {
  display: block;
  flex-direction : row;
  border: 1px solid #f2f2f2;
  border-style: groove none none none;
  cursor: pointer;
  padding: 15px 15px 15px 15px;
  height: auto;
  width: 100%;
  border-top-style: groove;
  margin-left: -19px;
  margin-right: 5px;  
}

#app .date-group{
  position: inherit;
  border:1px solid #d9d9d9;
  border-style: dotted dotted dotted dotted;
  border-radius: 10px;
}

#app .date-group>label{
  position:relative;
  top:-24px;
  left:110px;
  background-color:#ffffff;
  text-transform: uppercase;
  font-family: "Lucida Console", "Courier New", monospace;
}

#app .activity-table-data {
  border-collapse: collapse;
  width: 100%;
}

#app .activity-table-time-data {
  text-align: right;
  width: 25%; 
}

#app .dotted-left {
  position: relative;
  left: -15px;
  background-image: radial-gradient(circle, black 1%, transparent 1px);
  background-size: 100% 33.33%;  
}

#app .ampm {
  display: inline; 
  width: 10%;
  height: 15px;
  padding: 2px;
  margin-left: 1px;
  border: 1px solid #e6e6e6;
  border-style: groove none groove groove;
  border-radius: 6px 0px 0px 6px;    
}
